html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.content {
  position: absolute;
  width: 100%;
  max-width: 45em;
  padding: 0 1rem;
  top: 15%;
  transform: translateX(-50%);
  left: 50%;
}

.logo {
  float: left;
  width: 33.33%;
  height: auto;
}

.text {
  float: right;
  width: 66.66%;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background-color: #303030;
}

.btn-big {
  text-decoration: none;
  padding: 20px 15px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #000;
}
